* 
{
  margin: .3%;
  padding: .3%;
  font-family: Roboto, "Arial Black", sans-serif;
  color: white;
  line-height: 100%;
}
html
{
  background-color: #2d333d;
}
h1
{
  font-family: Roboto, "Arial Black", sans-serif;
  font-size: 350%;
  line-height: 50%;
  font-weight: bold;
  display: block;
  margin: auto;
  width: 90%;
  padding: 50px;
  padding-bottom: 20px;
}
h3
{
	display: block;
	margin-left: 1%
}
h4
{
  padding-top: 1%;
  padding-bottom: 0%;
}
p
{
  padding-bottom: 0%;
}
li
{
  padding-top: 0%;
  padding-bottom: 0%;
	margin-left: 1%;
}
#header
{
	background-color: #616060;
	margin: auto;
}
#header button
{
  margin-left: 25px;
  color: white;
  background-color: black;
  border-color: black;
}
#title-pic
{
	float: left;
	display: block;
	margin: auto;
}
#title-pic img
{
	margin-left: 30px;
	margin-top: 33px;
}
#body
{
  display: block;
  float: left; 
  margin: auto;
  margin-top: 10px;
  margin-right: 10%;
  background-color: #D0D0D0;
  border: 5px solid black;
}
#body p, h4, li
{
  color: black;
}
.box-container
{
  position: fixed;
  bottom: 0;
  width: 97%;
}
.boxes
{
  margin: auto;
  display: inline-block;
  width: 100px;
}
.boxes p
{
  position: absolute;
  top: 50px;
  background-color: #D0D0D0;
}
.project
{
  width: 70%;
  height: 550px;
  margin: auto;
  margin-top: 5%;
  border: 5px solid black;
  border-radius: 1%;
  background: #33604d;
  display: block;
  float: left;
}
.project h3, p
{
  color: black;
}
.proj-head
{
  text-align: center;
}
.proj-left
{ 
  margin: auto;
  margin-right: 80px;
  text-align: left;
  float: left;
  display: inline-block;
  width: 25%;
}
.proj-right
{ 
  margin: auto;
  text-align: left;
  float: right;
  display: inline-block;
  margin-left: 40px;
}
.proj-right p, li
{
  color: black;
}
#space-shooter img
{
  margin-left: 90px;
}