<!DOCTYPE html>

<html>

<head>
	<Title>Portfolio</Title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../style.css">
</head>

<div id = "header">
	<div id = "title-pic"><img src="https://i.imgur.com/psOUQgh.jpg" width = "50" height = "50" title="Hosted on imgur.com" /></div>
	<h1>Kyle Capehart</h1>
	<h3> <a href = "mailto:kyleacapehart@gmail.com" target="_top">kyleacapehart@gmail.com</a> </h3>
	<a href="https://drelyk.github.io/"><button>Home</button></a>
	<a href="Kyle_Capehart_CV.pdf" target = "_blank"><button>Resume</button></a>
</div>

<div id = "space-shooter" class= "project">
	<div class= "proj-head">
		<h3>Space Shooter</h3>
			<p>
				A mobile game built for my class, Processes for Object Oriented Software Development
			</p>
	</div>

	<div class= "proj-left">
		<img src="https://i.imgur.com/vkOzd1Pm.jpg" width = "200" height = "400" title="source: imgur.com" />
	</div>
		
	<div class= "proj-right">
		<br>
		<p>
			Summary:
		</p>
		<ul>
			<li>Written in C# using the Unity Game Engine</li>
			<li>Used GitHub for version control</li>
			<li>Group of six people in the class project</li>
			<li>The player flies through the level and defeats enemies in order to gain a higher score</li>
		</ul>
		<p>
			Project Link: <a href= "https://github.com/KHendricks/COP4331_SpaceShooter" target= "_blank">Space Shooter</a>
		</p>
	</div>
</div>

<div id = "space-golf" class= "project">
	<div class= "proj-head">
		<h3>Space Golf</h3>
			<p>
				A computer game built during the Indie Galactic Space Jam in 2016
			</p>
	</div>

	<div class= "proj-left">
		<img src="http://i.imgur.com/0UxuXe4m.jpg?1" width = "320" height = "180" title="Title Screen of Space Golf" alt= "Title Screen of Space Golf"/></a>
		<img src="http://i.imgur.com/d8rme2Um.jpg" width = "320" height = "240" title="Kyle and teammate receiving prize" alt= "Kyle and teammate receiving prize."/></a>
	</div>
		
	<div class= "proj-right">
		<br>
		<p>
			Summary:
		</p>
		<ul>
			<li>Written in C# using the Unity Game Engine</li>
			<li>Used Bitbucket for version control</li>
			<li>An annual game jam in Orlando, Florida</li>
			<li>We had 2 days to build our game called "Space Golf"</li>
			<li>The player tries to hit the ball in randomly placed craters inside a low gravity environment</li>
			<li>One of the 3 games chosen as a staff favorite</li>
		</ul>
		<p>
			Project Link: <a href= "https://mjkoo.itch.io/space-golf" target= "_blank">Space Golf</a>
		</p>
	</div>
</div>

<div class = "box-container">
	<div id = "github" class = "boxes">
		<a href = "https://github.com/DrElyk" target = "_blank">
			<img src = "..\Pictures\github.png" width = "100" height = "100" alt = "GitHub"/>
		</a>
	</div>

	<div id = "linkedin" class = "boxes">
		<a href = "https://linkedin.com/in/kyle-capehart-418033127" target = "_blank">
			<img src = "..\Pictures\linkedin.jpg" width = "100" height = "100" alt = "LinkedIn"/>
		</a>
	</div>

	<div id = "contact" class = "boxes">	
		<p>
			850-261-9097<br>
			kyleacapehart@gmail.com<br>
			4553 Oakcreek St, Orlando, FL, 32835<br>
		</p>
	</div>
</div>

</html>