.header {
	background-color: #1E8E5D;
	border: 5px solid black;
	margin: auto;
  display: block;
}
.header button {
  color: white;
  background-color: black;
  border-color: black;
  width: 125px;
}
.header h3 {
  margin-left: 25px;
  color: white;
}
.header-title {
  display: block;
  width: 100%;
  text-align: center;
  padding-top:0;
  margin-top:0;
  padding-bottom:0;
  margin-bottom:0;
}
.header-title img {
  display: inline-block;
  vertical-align: bottom; 
}
.header-title h1 {
  display: inline-block;
  height: 90px;
  line-height: 120px;
}
.buttons {
  display: block;
  margin-left: 35%;
  margin-right: 25%;
  width: 40%;
  padding: 0;
}
.footer-container {
  position: fixed;
  bottom: 0;
  right: 0;
}
.footer {
  margin: auto;
  display: inline-block;
  width: 80px;
}
.footer p {
  position: absolute;
  top: 43px;
  width: 270px;
  line-height: 120%;
  background-color: #F1EFEF;
}