.header {
	background-color: #1E8E5D;
	border: 5px solid black;
	margin: auto;
  display: block;
}
.header button {
  color: white;
  background-color: black;
  border-color: black;
  width: 125px;
}
.header h3 {
  margin-left: 25px;
  color: white;
}
#title-pic {
	float: left;
	display: block;
	margin: auto;
}
#title-pic img {
	margin-left: 30px;
	margin-top: 33px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 97%;
}
.footer {
  margin: auto;
  display: inline-block;
  width: 100px;
}
.footer p {
  position: absolute;
  top: 43px;
  width: 270px;
  line-height: 120%;
  background-color: #F1EFEF;
}