* {
  margin: .3%;
  padding: .3%;
  font-family: Roboto, "Arial Black", sans-serif;
  color: black;
  line-height: 110%;
}
html {
  background-color: #2d333d;
}
h1 {
  font-family: Roboto, "Arial Black", sans-serif;
  font-size: 350%;
  line-height: 50%;
  font-weight: bold;
  display: block;
  margin: auto;
  color: white;
}
h3 {
	display: block;
  padding-bottom: 0%;
  color: white;
}
h4 {
  padding-top: 1%;
  padding-bottom: 0%;
}
p {
  padding-bottom: 0%;
}
li {
  padding-top: 0%;
  padding-bottom: 0%;
	margin-left: 35px;
}
a {
  color: blue;
}
.body {
  display: block; 
  margin: auto;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  background-color: #F1EFEF;
  border: 5px solid black;
  margin-bottom: 140px; 
}
.body p, h4, li {
  color: black;
}
.body a {
  margin-left: 0px;
  padding-left: 0px;
}