.project {
  width: 99%;
  margin: auto;
  margin-top: 10px;
  border: 5px solid black;
  background: #F1EFEF;
  display: block;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.project h3, p {
  color: black;
  padding-bottom: 0%;
}
#space-golf .proj-imgs {
  width: 800px;
}
#space-shooter .proj-imgs {
  width: 650px;
}
#homepage .proj-imgs {
  width: 900px;
}
#space-golf {
  margin-bottom: 140px;
}