.project {
  width: 99%;
  margin: auto;
  margin-top: 10px;
  border: 5px solid black;
  background: #F1EFEF;
  display: block;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.project h3, p {
  color: black;
  padding-bottom: 0%;
}
#space-golf .proj-imgs {
  margin: auto;
  width: 330px;
}
#space-shooter .proj-imgs {
  margin: auto;
  width: 425px;
}
#homepage .proj-imgs {
  margin: auto;
  width: 420px;
}
#musicalarm .proj-imgs {
  margin: auto;
  width: 390px;
}
#dacc .proj-imgs {
  margin: auto;
  width: 570px;
}

#space-golf {
  margin-bottom: 140px;
}