h3 {
	color: black;
}
#doom {
	margin-bottom: 140px;
}

#doom .proj-imgs {
	margin: auto;
	width: 450px;
}

#siemens .proj-imgs {
	margin: auto;
	width: 555px;
}

#deloitte .proj-imgs {
	margin: auto;
	width: 410px;
}